<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gerrard.android.youandi">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.gerrard.android.youandi.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.gerrard.android.youandi.LoginDialogFragment"></activity>
        <activity android:name="com.gerrard.android.youandi.SettingActivity" />
        <activity
            android:name="com.gerrard.android.youandi.location.LocationViewActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.gerrard.android.youandi.chat.ChatFragment"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.gerrard.android.youandi.chat.ChatroomFragment"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.gerrard.android.youandi.chat.MessageActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.gerrard.android.youandi.calendar.Calendar_EventActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.gerrard.android.youandi.calendar.Calendar_EditActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.gerrard.android.youandi.FullimageActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.gerrard.android.youandi.album.Album_PhotoActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.gerrard.android.youandi.album.AlbumFragment"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.gerrard.android.youandi.calendar.CalendarFragment"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.gerrard.android.youandi.location.LocationFragment"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.gerrard.android.youandi.Main2Activity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.gerrard.android.youandi.NavigationActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.gerrard.android.youandi.SignupActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.gerrard.android.youandi.LoginActivity"
            android:theme="@style/AppTheme" />
        <activity android:name="com.gerrard.android.youandi.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyATDND8Hcapt5xtKJ6IAdEgKDNlXw7me3E" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>